@page
@model IndexModel

<div class="container-fluid default-dashboard">
    <div class="row widget-grid">
        <div class="col-xl-5 col-md-6 proorder-xl-1 proorder-md-1">
            <div class="card profile-greeting p-0">
                <div class="card-body">
                    <div class="img-overlay">
                        <h1>@Model.OrganizationName</h1>
                        <p>Welcome to the Athlitix! Please explore the dashboard.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Upcoming Competitions</h4><span>Don't miss the latest competitions</span>
                </div>
                <div class="table-responsive theme-scrollbar">
                    <table class="table">
                        <thead>
                            <tr class="border-bottom-primary">
                                <th scope="col">Competition</th>
                                <th scope="col">Start</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var competition in Model.Competitions)
                            {
                                <tr role="row" class="odd">
                                    <td>@competition.Name</td>
                                    <td>@competition.StartDate.ToString("dd MMM yyyy")</td>
                                    <td>@competition.StartDate.ToString("HH:mm")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-7 proorder-xl-5 box-col-7 proorder-md-5">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Upcoming Events</h4><span>Don't miss the latest competition and events</span>
                    </div>
                    <div class="table-responsive theme-scrollbar">
                        <table class="table">
                            <thead>
                                <tr class="border-bottom-primary">
                                    <th scope="col">Competition</th>
                                    <th scope="col">Event</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var evt in Model.Events)
                                {
                                    <tr role="row" class="odd">
                                        <td>@evt.Competition.Name</td>
                                        <td>@evt.Name</td>
                                        <td>@evt.StartDate.ToString("dd MMM yyyy")</td>
                                        <td>@evt.StartDate.ToString("HH:mm")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 proorder-xl-12 box-col-7 proorder-md-12">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-no-border pb-0">
                        <div class="header-top">
                            <h4>Last 10 Winners</h4>
                        </div>
                    </div>
                    <div class="table-responsive theme-scrollbar">
                        <table class="table">
                            <thead>
                                <tr role="row">
                                    <th>Team Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var team in Model.Teams)
                                {
                                    <tr role="row" class="odd">
                                        <td>@team.Name</td>
                                        <td>@team.Description</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 proorder-xl-12 box-col-7 proorder-md-12">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-no-border pb-0">
                        <div class="header-top">
                            <h4>Last 10 Winners</h4>
                        </div>
                    </div>
                    <div class="table-responsive theme-scrollbar">
                        <table class="table">
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var team in Model.Participants)
                                {
                                    <tr role="row" class="odd">
                                        <td>@team.FirstName</td>
                                        <td>@team.Team.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
